<div class="footer">
    {% include css/footer-css.html %}
    <div class="footer-content">
        <span class="Created-author">
            Created By : Steel.Von
        </span>
        <span class="address">
            <a href="{{ site.baseurl }}/address.html" target="_self">关于我</a>
        </span>
        <script type="text/javascript">
            +function () {
                if (window.location.hostname != "fengqiaogang.github.io") {
                    document.writeln("<span class='record'>| 渝ICP备14004252号-4</span>");
                }
            }();
        </script>
    </div>
</div>