<div class="footer box-sizing">
    <div class="footer-content">
        <span class="Created-author">
            Created By : Steel.Von
        </span>
        <span class="address">
            <a href="{{ site.rootpath }}/address.html" target="_self">关于我</a>
        </span>
        <script type="text/javascript">
            +function () {
                if (window.location.hostname != "fengqiaogang.github.io") {
                    document.write("<span class='record'><em>|</em> 渝ICP备14004252号-4</span>");
                }
            }();
        </script>
    </div>
</div>