ul, ol, li {
	list-style: none;
}

ul, menu, dir {
	-webkit-padding-start: 0px;
}

body {
	padding-top: 40px; padding-bottom: 50px; overflow-x: hidden;
}

.wrap-content {
	display: block; width: 100%; padding: 15px; border-top: 1px solid #ccc;
}

.wrap-max-width {
	width: 100%; max-width: 1000px; position: relative; margin: 0 auto;
}

.wrap-content .title {
	width: 100%; clear: both; padding-bottom: 15px; border-bottom: 1px solid #ccc;
}

.wrap-content .title p {
	font-size: 1.6em; color: #000; line-height: 30px; height: 30px; letter-spacing: 2px;
}

.wrap-content .post {
	padding: 0;
}

.wrap-content .posts {
	padding-left: 25px; padding-top: 25px;
}

.wrap-content code {
	display: block; margin-bottom: 10px;
}