<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset={{ site.encoding }}"/>
    <meta name="{{ site.author }} {{ site.email }}" content="{{ site.description }}">
    <meta id="viewport" content="width=device-width,initial-scale=1,maximum-scale=1, user-scalable=no" name="viewport"/>
    <meta name="description" content="{{ site.description }}">
    <meta name="keywords" content="{{ site.keywords }}">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta http-equiv="Cache-Control" content="no-siteapp">
    <meta name="baidu-site-verification" content="BvhKguqWv9"/>
    <title>{{ page.title }}－Svon's Blog</title>
    <link type="image/x-icon" rel="shortcut icon" href="http://www.hellojs.cn/images/fav.png">
    <script type="text/javascript" src="http://www.hellojs.cn/js/modules/seajs/2.2.0/sea.js"></script>
    <!--main.css-->
    <link rel="stylesheet" type="text/css" href="{{ site.static }}css/reset.css">
    <link rel="stylesheet" type="text/css" href="{{ site.static }}css/main.css" charset="utf-8">
    <!--<link rel="stylesheet" type="text/css" href="{{ site.static }}css/pygments.css">-->
    <!--<link rel="stylesheet" type="text/css" href="{{ site.static }}css/syntax.css">-->
    <script type="text/javascript">
        function getQueryString() {
            var reg = new RegExp('(^|&)' + (arguments[0]) + '=([^&]*)(&|$)', 'i');
            var r = window.location.search.substr(1).match(reg);
            if (r != null) return unescape(r[2]);
            return null;
        }
        //声明_czc对象:
        var _czc = window["_czc"] || [];
        //绑定siteid
        _czc.push(["_setAccount", "1254781108"]);
    </script>
    <!--<script src="http://weinre.svon.org/target/target-script-min.js#anonymous"></script>-->
</head>
<body class="box-sizing">
{% include page/header.html %}
<div class="wrap-content box-sizing">
    <div class="wrap-max-width">
        <div class="title">
            <p>{{ page.title }}</p>
        </div>
        {{ content }}
    </div>
</div>
<script type="text/javascript" src="http://www.hellojs.cn/js/modules/config/wiki-config.js"></script>
{% include page/footer.html %}
<script type="text/javascript">
    /**
     * Author fengqiaogang
     */
    seajs.config({
        alias: {
            "jquery": "{modules}/jquery/2.1.1/jquery.js"
        }
    });
    +function () {
        if(window.location.hostname != "192.168.0.105" && window.location.hostname != "127.0.0.1"){
            var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");
            var html = "%3Cspan id='cnzz_stat_icon_1254781108'%3E%3C/span%3E%3Cscript src='";
            html += cnzz_protocol;
            html += "s4.cnzz.com/stat.php%3Fid%3D1254781108%26online%3D1' type='text/javascript'%3E%3C/script%3E";
            document.write("<div class='svon-cnzz' style='display:none;'>" + unescape(html) + "</div>");
        }
    }();
</script>
<div class="other">
    <a href="http://m.kuaidi100.com" target="_blank">快递查询</a>
</div>
</body>
　　
</html>
